<div id="<%= dom_id nota_fiscal %>">
  <p>
    <strong>Usuario:</strong>
    <%= nota_fiscal. usuario_id %>
  </p>

  <p>
    <strong>Documento emitente:</strong>
    <%= nota_fiscal. documento_emitente %>
  </p>

  <p>
    <strong>Inscricao estadual:</strong>
    <%= nota_fiscal. inscricao_estadual %>
  </p>

  <p>
    <strong>Serie:</strong>
    <%= nota_fiscal. serie %>
  </p>

  <p>
    <strong>Numero:</strong>
    <%= nota_fiscal. numero %>
  </p>

  <p>
    <strong>Data emissao:</strong>
    <%= nota_fiscal. data_emissao %>
  </p>

  <p>
    <strong>Status autorizacao:</strong>
    <%= nota_fiscal. status_autorizacao %>
  </p>

  <p>
    <strong>Mensagem autorizacao:</strong>
    <%= nota_fiscal. mensagem_autorizacao %>
  </p>

  <p>
    <strong>Protocolo:</strong>
    <%= nota_fiscal. protocolo %>
  </p>

  <p>
    <strong>Data autorizacao:</strong>
    <%= nota_fiscal. data_autorizacao %>
  </p>

  <p>
    <strong>Cancelada:</strong>
    <%= nota_fiscal. cancelada %>
  </p>

  <p>
    <strong>Data cancelamento:</strong>
    <%= nota_fiscal. data_cancelamento %>
  </p>

  <p>
    <strong>Xml assinado:</strong>
    <%= nota_fiscal. xml_assinado %>
  </p>

  <p>
    <strong>Resposta autorizacao:</strong>
    <%= nota_fiscal. resposta_autorizacao %>
  </p>

</div>
